section#contact-info 
{font-size: .8em;}

section#contact-info:hover{
  color: blue;} 


section.job
{background-color: #e9e5dc;
border-radius: 25px;
padding: 10px 15px;
margin-top: 10px;}

.accomplishments
{font-size: .8em;
color: black;}

.accomplishments > .featured {color: green;}